body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, 'Poiret One';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e9dccd !important;

  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
